In [1]:
import re
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
%matplotlib inline

### Parse logfiles for next N subjects, summer, 2015
compare to "pandify_multi_poly_probe_data"

In [2]:
subjects = {}

probe_images_path = '/home/tnaselar/FAST/scratch/data/'

subjects['TN'] = {}
subjects['TN']['sourcefile'] = probe_images_path+'TN_2018_Jun_11_0905.log'



# subjects['CP'] = {}
# subjects['CP']['sourcefile'] = probe_images_path+'data/CP_2014_Nov_14_1513.log'

save_path = '/home/tnaselar/FAST/scratch/data/'

max_images_per_exp = 4


imagery_marker = '_img_'
perception_marker = '_pcp_'

subject_table = pd.DataFrame(subjects)

number_of_lines_in_chunk = 3

In [3]:
subject_table

                                                           TN
sourcefile  /home/tnaselar/FAST/scratch/data/TN_2018_Jun_1...

In [4]:
def starts_a_response_chunk(x):
    if 'New trial' in x:
        return True
    else:
        return False

def get_probe_number(new_line):
    return '_'.join(re.search('_probe\((.*?)\).png', new_line).group(1).split(','))
#     dx = new_line.index('_probe(')
#     if new_line[dx-2].isdigit():
#         return int(new_line[dx-2:dx])
#     else:
#         return int(new_line[dx-1])
    
# def get_repetition(new_line):
#     return int(new_line[new_line.index('rep=')+4])

def get_state(new_line):
    dx = new_line.index('probe(')
    state = new_line[dx-4:dx-1]
    if state:
        return state
    else:
        raise Exception('you are not at the start of a new trial')
#     if 'just-probes' in new_line:
#         return 'img'
#     elif 'probes-with-im' in new_line:
#         return 'pcp'
#     else:
        

def get_time_stamp(new_line):
    return float(new_line[0:new_line.index('\t')])

def get_response(new_line):
    try:
        return int(new_line[new_line.index('Keypress')+10])
    except:
        print('subject did not respond, returning None')
        return None
        
def skip_a_line(all_lines):
    return all_lines.pop(0)

def get_image(new_line):
    return re.search('poly_probes/probes/(.*?_\d\d)', new_line).group(1)
#     dx = new_line.index('finalprobeset')
#     return new_line[dx:(dx+15)]

In [5]:
f = '/home/tnaselar/imagery_psychophysics/multi_poly_probes/probes/candle_01_letterbox_img_probe(1,11).png'
snippet = '27.9541	DATA	Keypress: 2'
print get_time_stamp(snippet)
print 'state: %s' %(get_state(f))
print get_response(snippet)
print get_image(f)

27.9541
state: img
2
candle_01

In [6]:
data_dict = {'subj': [], 'image': [], 'probe': [], 'state': [], 'image_on': [], 'resp_on': [], 'response': []}
for subj in subjects.keys():
    print subj    
    all_lines = open(subjects[subj]['sourcefile'], 'r').readlines()
    while all_lines:
        new_line = all_lines.pop(0)
        if starts_a_response_chunk(new_line):
            data_dict['subj'].append(subj)
            new_line = all_lines.pop(0)
            if new_line.find('WARNING') > 0:
                _ = skip_a_line(all_lines)
            new_line = all_lines.pop(0)
            data_dict['probe'].append(get_probe_number(new_line))
            data_dict['state'].append(get_state(new_line))  
            data_dict['image'].append(get_image(new_line))
            data_dict['image_on'].append(get_time_stamp(all_lines.pop(0)))
            new_line = all_lines.pop(0)
            data_dict['resp_on'].append(get_time_stamp(new_line))
            data_dict['response'].append(get_response(new_line))
            


probe_exp = pd.DataFrame(data_dict)

TN
subject did not respond, returning None

In [7]:
probe_exp.head()

       image  image_on        probe  resp_on  response state subj
0  candle_01   16.2535  27_36_28_37  16.8537       1.0   img   TN
1  candle_01   16.9202     36_28_37  17.7203       1.0   img   TN
2  candle_01   17.7868  29_38_30_39  18.3203       1.0   img   TN
3  candle_01   18.3869  13_22_14_23  18.9870       1.0   img   TN
4  candle_01   19.0535     34_35_44  19.8537       1.0   img   TN

In [8]:
probe_exp.dtypes

image        object
image_on    float64
probe        object
resp_on     float64
response    float64
state        object
subj         object
dtype: object

In [9]:
probe_exp.describe()

        image_on    resp_on  response
count  44.000000  44.000000      43.0
mean   29.026507  29.550905       1.0
std     7.265238   7.259576       0.0
min    16.253500  16.853700       1.0
25%    23.186950  23.653750       1.0
50%    28.953700  29.453850       1.0
75%    35.137300  35.654225       1.0
max    41.254200  42.187700       1.0

In [10]:
probe_exp[0:3]

       image  image_on        probe  resp_on  response state subj
0  candle_01   16.2535  27_36_28_37  16.8537       1.0   img   TN
1  candle_01   16.9202     36_28_37  17.7203       1.0   img   TN
2  candle_01   17.7868  29_38_30_39  18.3203       1.0   img   TN

In [11]:
probe_exp[:3]

       image  image_on        probe  resp_on  response state subj
0  candle_01   16.2535  27_36_28_37  16.8537       1.0   img   TN
1  candle_01   16.9202     36_28_37  17.7203       1.0   img   TN
2  candle_01   17.7868  29_38_30_39  18.3203       1.0   img   TN

In [12]:
print probe_exp.loc[1]
print type(probe_exp.loc[1])

image       candle_01
image_on      16.9202
probe        36_28_37
resp_on       17.7203
response            1
state             img
subj               TN
Name: 1, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
probe_exp.loc[:, ['probe', 'response']].head()

         probe  response
0  27_36_28_37       1.0
1     36_28_37       1.0
2  29_38_30_39       1.0
3  13_22_14_23       1.0
4     34_35_44       1.0

In [14]:
probe_exp.iloc[0]

image         candle_01
image_on        16.2535
probe       27_36_28_37
resp_on         16.8537
response              1
state               img
subj                 TN
Name: 0, dtype: object

In [15]:
probe_exp.iloc[0:2, 1:3]

   image_on        probe
0   16.2535  27_36_28_37
1   16.9202     36_28_37

In [16]:
probe_exp[probe_exp['probe']=='40_41']

Empty DataFrame
Columns: [image, image_on, probe, resp_on, response, state, subj]
Index: []

In [17]:
probe_exp[probe_exp.probe.isin(['40','41','40_41'])]

Empty DataFrame
Columns: [image, image_on, probe, resp_on, response, state, subj]
Index: []

In [18]:
KL = probe_exp[probe_exp.subj=='KL']
KL.sort(columns='probe')[0:6]

/home/tnaselar/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                image   image_on probe    resp_on  response state subj
5421   grape_juice_02  9967.8963     0  9969.5631       2.0   pcp   KL
2762        candle_01    29.4041     0    30.2376       1.0   img   KL
4276  cheeseburger_03  6080.2275     0  6082.1943       2.0   img   KL
4746  cheeseburger_03  7709.0423     0  7710.8758       2.0   pcp   KL
3481       peaches_05   999.1809     0  1002.3144       2.0   img   KL
4045       peaches_05  5081.0017     0  5082.4352       1.0   pcp   KL

In [18]:
probe_exp.to_pickle(os.path.join(save_path+'multi_poly_probe_data_test.pkl'))